<div class="container statuscheck">
    <div class="row ">
        <div class="col-12 mx-auto">
            <div class="row justify-content-center align-items-center">
                <div class="col-9">
                    <div class="col-12 py-5">
                        <h2 class="text-center">List of Claims</h2>
                    </div>
                    <div class="col">
                        <p *ngIf="claimList?.claims?.length == 0" class="text-center text-danger"> No Records Found</p>
                        <div class="row bg-dark p-3" *ngIf="claimList?.claims.length >0">
                            <div class="col text-white text-center">
                                Claim Number
                            </div>
                            <div class="col text-white text-center">
                                Name
                            </div>
                            <div class="col text-white text-center">
                                Policy Number
                            </div>
                            <div class="col text-white text-center">
                                Hospital Name
                            </div>
                            <div class="col text-white text-center">
                                Claim Date
                            </div>
                            <div class="col text-white text-center">
                                Climed Amount
                            </div>
                            <div class="col-3 text-white text-center">
                                Action
                            </div>

                        </div>
                        <div class="row p-3 my-2 border border-dark" *ngFor="let item of claimList?.claims">
                            <div class="col">
                                {{item.claimNumber}}
                            </div>
                            <div class="col">
                                {{item.name}}
                            </div>
                            <div class="col">
                                {{item.policyNo}}
                            </div>
                            <div class="col">
                                {{item.hospitalName}}
                            </div>
                            <div class="col">
                                <p class="text-center"> {{item.claimDate}}</p>

                            </div>
                            <div class="col">
                                INR {{item.claimAmount}}
                            </div>
                            <div class="col-3 my-auto">
                                <button class="btn btn-success" (click)="climeApproval(item?.id)">Approve /
                                    Reject</button>
                                <!-- <button class="btn btn-secondary" (click)="climeApproval()">Reject</button> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog appendTo="body" header="Approver Comment" [(visible)]="display" [modal]="true" [responsive]="true"
    [style]="{width: '400px', minWidth: '400px'}" [minY]="700" [maximizable]="true" [baseZIndex]="10000">
    <!-- <div class="row">
        <div class="col-12 statuschecksearch"> -->
    <form [formGroup]="approverCommentsForm">
        <div class="form-row">
            <div class="form-group col-md-12 m-0">
                <label for="inputEmail4">Comment<span class="text-danger">*</span></label>
                <div class="form-group">
                    <textarea type="text"
                        [ngClass]="{'is-invalid': approverCommentsForm?.controls?.comment?.touched && approverCommentsForm?.controls?.comment?.invalid}"
                        formControlName="comment" class="form-control" id="inputEmail4">
                                </textarea>

                    <div class="invalid-feedback">
                        <span *ngIf="approverCommentsForm?.controls?.comment?.errors?.required">Please
                            enter Comments.</span> </div>
                </div>
            </div>
            <div class="form-row col-12 p-0">
                <div class="form-group col-md-6">
                    <button type="submit" [disabled]="approverCommentsForm.invalid"
                        class="btn btn-success bus-button btn-block m-0" (click)="approve_reject('approve')">Approve<i
                            class="fa fa-refresh fa-spin" *ngIf="submitSpin"></i></button>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" [disabled]="approverCommentsForm.invalid"
                        class="btn btn btn-danger bus-button btn-block m-0" (click)="approve_reject('reject')">Reject<i
                            class="fa fa-refresh fa-spin" *ngIf="submitSpin"></i></button>
                </div>
            </div>
        </div>
    </form>
    <!-- </div>

    </div> -->
</p-dialog>